* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background: url(../img/contact-image.png);
  background-size: cover;
}
.contact-form {
  width: 85%;
  max-width: 600px;
  background: #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 40px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 20px 000000b3;
  font-family: 'Montserrat', sans-serif;
}
.contact-form h1 {
  margin-top: 0;
  font-weight: 200;
}
.contact {
  border: 1px solid gray;
  margin: 8px 0;
  padding: 12px 18px;
  border-radius: 8px;
}
.contact label {
  display: block;
  text-align: left;
  color: #333;
  text-transform: uppercase;
  font-size: 14px;
}
.contact input,
.contact textarea {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 18px;
  margin-top: 6px;
}
.btn {
  display: inline-block;
  background: mediumseagreen;
  padding: 14px 0;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  margin: top 8px;
  width: 100%;
}
.container {
  width: 100%;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
  overflow: hidden;
}
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
}
.logo {
  width: 100px;
  cursor: pointer;
  margin: 30px 0;
}
.menu-icon {
  width: 25px;
  cursor: pointer;
  display: none;
}
nav {
  flex: 1;
  text-align: right;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}
nav ul li a {
  text-decoration: none;
  font-size: 20px;
  color: #000;
}
nav ul li a:hover {
  color: #ff5ea2;
}

@media only screen and (max-width: 700px) {
  nav ul {
    width: 100%;
    position: absolute;
    top: 95px;
    right: 0;
    z-index: 2;
  }
  nav ul li {
    display: none;
  }
  .menu-icon {
    display: block;
  }
}
