body {
  line-height: 2.4;
  font-family: sans-serif;
  background-color: aliceblue;
}
.container {
  height: 15vh;
  width: 100%;
}
.navbar {
  width: 100%;
  height: 15vh;
  margin: auto;
  display: flex;
  align-items: center;
}
.logo {
  width: 100px;
  height: 62px;
}
nav {
  flex: 1;
  padding-left: 20%;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0px 20px;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
.product {
  border: 4px solid black;
}

.product-title {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  background-color: #d8a8a8;
}

.price {
  font-size: 24px;
}
.shipping {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
}
.more-info:link,
.more-info:visited {
  color: black;
}
.more-info:hover,
.more-info:active {
  text-decoration: none;
}
.details-title {
  text-transform: uppercase;
  font-size: 16px;
}
.details-list {
  list-style: square;
}
.add-cart {
  background-color: black;
  border: none;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
}
.add-cart:hover {
  color: #000;
  background-color: #fff;
}

.more-items {
  margin-top: 10px;
}
.pictures {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: black;
  padding: 20px 0;
  background: rgb(110, 153, 153);
  height: 250px;
}
.social-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
  color: rgb(117, 54, 218);
}

footer div {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

footer div p,
h2 {
  padding: 0;
  margin: 0;
}
