* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
.container {
  width: 100%;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
  overflow: hidden;
}
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
}
.logo {
  width: 100px;
  cursor: pointer;
  margin: 30px 0;
}
.menu-icon {
  width: 25px;
  cursor: pointer;
  display: none;
}
nav {
  flex: 1;
  text-align: right;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}
nav ul li a {
  text-decoration: none;
  font-size: 20px;
  color: #000;
}
nav ul li a:hover {
  color: #ff5ea2;
}
.hero {
  background-image: url(../img/game-hub.png);
  height: 112.5em;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  position: relative;
}
.hero-text-box {
  text-align: center;
  position: absolute;
  width: 100%;
  margin-top: 84em;
}
h1 {
  font-size: 2.5em;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-weight: bolder;
}
.hero-text-box p {
  color: #fff;
}
a {
  margin-top: 1.25em;
  font-size: 1.3em;
  font-family: 'Montserrat', sans-serif;
}
.btn1 {
  display: inline-block;
  width: 12.5em;
  font-weight: bold;
  padding: 0.6em;
  color: #fff;
  border: 4px solid #fff;
  text-align: center;
  margin: 1.25em;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}
.btn1:hover,
.btn1:active {
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s ease-in, color 0.3s ease-in;
}
.call-to-action h2 {
  font-size: 20px;
  margin: 10px;
  font-weight: bold;
}
.row {
  display: grid;
  grid-template-columns: auto auto auto;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 10px;
}
footer {
  background-color: rgb(45, 45, 65);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #fff;
  padding: 1.25em 0;
}
.social-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
  color: #000;
}
footer div {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
footer div p,
h2 {
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 700px) {
  nav ul {
    width: 100%;
    position: absolute;
    top: 95px;
    right: 0;
    z-index: 2;
  }
  nav ul li {
    display: none;
  }
  .menu-icon {
    display: block;
  }
  .hero .row {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }
  footer {
    display: flex;
    flex-direction: row;
  }
  .hero {
    display: flex;
    align-items: center;
  }
  .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
