* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.container {
  height: 15vh;
  width: 100%;
}

.navbar {
  width: 100%;
  height: 15vh;
  margin: auto;
  display: flex;
  align-items: center;
  position: relative;
}
.logo {
  width: 100px;
  height: 62px;
}
nav {
  flex: 1;
  padding-left: 20%;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0px 20px;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
.btn {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
}

.img-container {
  background-image: url(../img/hero-banner.jpg);
  height: 180vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.inner-container {
  align-items: center;
  position: absolute;
  width: 100%;
  text-decoration: none;
  height: auto;
  margin-top: 450px;
}

h1,
h4 {
  font-size: 2.5em;
  font-family: 'Roboto', sans-serif;
  color: #000;
  font-weight: bolder;
}

a {
  margin-top: 20px;
  font-size: 1.3em;
  font-family: 'Montserrat', sans-serif;
}

.btn1 {
  display: inline-block;
  width: 200px;
  font-weight: bold;
  padding: 10px;
  color: #fff;
  border: 4px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}
.btn1:hover,
.btn1:active {
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s ease-in, color 0.3s ease-in;
}
.call-to-action {
  width: 100%;
  margin-bottom: 20px;
}
/*
.column {
  display: flex;
  flex-direction: row;
}*/

.row {
  display: flex;
  justify-content: center;
  gap: 30px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  padding: 20px 0;
  background: #284e7a;
}
.social-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

footer div {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

footer div p,
h2 {
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 767px) {
}
