* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.container {
  height: 15vh;
  width: 100%;

  /*background-image: url(https://images.unsplash.com/photo-1543307757-b6f2a50ff6d4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1181&q=80);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
  position: relative;*/
}
.navbar {
  width: 100%;
  height: 15vh;
  margin: auto;
  display: flex;
  align-items: center;
}
.logo {
  width: 100px;
  height: 62px;
}
nav {
  flex: 1;
  padding-left: 20%;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0px 20px;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
.btn {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
}

.img-container {
  background-image: url(../img/hero-banner.jpg);
  height: 180vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.inner-container {
  align-items: center;
  position: absolute;
  width: 100%;
  text-decoration: none;
  height: auto;
  margin-top: 450px;
}

h1,
h4 {
  font-size: 2.5em;
  font-family: 'Roboto', sans-serif;
  color: #000;

  font-weight: bolder;
}

a {
  margin-top: 20px;
  font-size: 1.3em;
  font-family: 'Montserrat', sans-serif;
}

.btn1 {
  display: inline-block;
  width: 200px;
  font-weight: bold;
  padding: 10px;
  color: #fff;
  border: 4px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}
.btn1:hover,
.btn1:active {
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  color: white;
  padding: 20px 0;
  background: #284e7a;
}
.social-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

footer div {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

footer div p,
h2 {
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 767px) {
}
